# MacOS
# ----------------------------------

# Karabiner (ignorables)
/os/mac/karabiner-elements/automatic_backups

# Alfred (ignorables)
os/mac/alfred/remote


# Common
# ----------------------------------

# Compiled zsh
shell/zsh/**/**.zwc
shell/zsh/**/**.zwc.old

# Private Stuff
/**/**/private-*